* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	font-family: cursive, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #86bbd8;
}
p {
	color: #252525;
	line-height: 1.5em;
}
nav {
	align-items: center;
	background-color: #416d88;
	color: #c0c0c0;
	display: flex;
	height: 80px;
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
}

nav a {
	text-decoration: none;
	font-size: large;
	color: white;
}
img {
	width: 100px;
	height: 100px;
}
input,
textarea {
	box-sizing: border-box;
	width: 100%;
	font-family: monospace;
	padding: 0.25em 0.5em;
}

input:invalid {
	border: 1.5px solid red;
}
header {
	margin-bottom: 5rem;
}

.campus {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	margin: 10px;
}
.campuses {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin: 2rem;
}
.campus-container {
	display: flex;
	width: 75%;
	gap: 20px;
}
.campus-container-image img {
	border-radius: 1rem;
}
.campus-container-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	font-weight: 900;
}
.student-container-info button {
	width: 150px;
	height: 20px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	margin: 10px;
	text-align: center;
	background: linear-gradient(
		90deg,
		rgba(195, 131, 116, 1) 49%,
		rgba(252, 91, 69, 1) 100%
	);
}
.campus-container-info button:hover {
	background-image: linear-gradient(#eb3941, #f15e64, #e14e53, #e2373f);
}
.campuses-form {
	border: 2px solid black;
	padding: 10px;
	align-self: flex-start;
	position: sticky;
	top: 10px;
}
.campuses-form form {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.campuses-form button {
	width: 150px;
	height: 20px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	margin: 10px;
	text-align: center;

	background: linear-gradient(
		90deg,
		rgba(158, 195, 161, 1) 100%,
		rgba(252, 91, 69, 1) 100%
	);
}
.campuses-form button:hover {
	background: linear-gradient(#0ba360, #3cba92, #30dd8a, #2bb673);
}

.campus-container-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
}
.campus-container-page form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	justify-content: space-around;
}
.student {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	margin: 10px;
}
.students {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin: 2rem;
}
.student-container {
	display: flex;
	width: 75%;
	gap: 20px;
}
.student-container-image img {
	border-radius: 1rem;
}
.student-container-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	font-weight: 900;
}
.student-container-info button {
	width: 150px;
	height: 20px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	margin: 10px;
	text-align: center;
	background: linear-gradient(
		90deg,
		rgba(195, 131, 116, 1) 49%,
		rgba(252, 91, 69, 1) 100%
	);
}
.student-container-info button:hover {
	background-image: linear-gradient(#eb3941, #f15e64, #e14e53, #e2373f);
}

.students-form {
	border: 2px solid black;
	padding: 10px;
	align-self: flex-start;
	position: sticky;
	top: 10px;
}
.students-form form {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.students-form button {
	width: 150px;
	height: 20px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	margin: 10px;
	text-align: center;

	background: linear-gradient(
		90deg,
		rgba(158, 195, 161, 1) 100%,
		rgba(252, 91, 69, 1) 100%
	);
}
.students-form button:hover {
	background: linear-gradient(#0ba360, #3cba92, #30dd8a, #2bb673);
}

.student-container-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
}

#form-student-page {
	display: flex;
	flex-direction: column;
	margin: 1rem 5rem;
}
#single-edit {
	align-self: end;
}
